* {
    padding:0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
   
}
header {
    height: 70px;
    background: #020202;
}
header h1 {
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
}
header h1 a {
    transition: .3s;
    color:#fff;
    padding-left: 60px;
}
header h1 a:hover {
    color: #C5BC05  ;
}
header ul {
    float: right;
    padding-right: 60px;
}
header ul li {
    padding: 24px;
    display: inline-block;
}
header ul li a {
    transition: .3s;
    color:#fff;
}
header ul li a:hover {
    color: #C5BC05 ;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    background: #020202;
    position: fixed;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
.mobile {
    float: right;
    display: none;
    padding: 18px;
    color:#fff;
    
}
.mobile:hover {
    cursor: pointer;
    color: #C5BC05 ;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(2, 2, 2, .9);
    transition: .3s;
    cursor: pointer;
}
.sidebar ul li a{
    color: #fff;
}
.sidebar ul li {
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}
.sidebar ul li:hover { 
    background-color: #C5BC05;
}
#check:checked ~ .sidebar{
    left: 0;
}
.banner {
    background-image: url('../image/bg.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 0px;
	width: 1349px;
    padding: 290px 0;
}
.banner h2 {
    text-transform: uppercase;
    
    height: 50px;
	width: 500px;
    color:#fff;
    font-size: 30px;
}
.banner p {
    
    height: 25px;
	width: 500px;
    color:#fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.banner-left {
    padding-left: 80px;
}
button {
    background: #fff;
   border-radius: 10px;
   margin-top: 0px;
   padding: 10px 20px 10px 20px;
   cursor: pointer;
   font-size: 15px;
}
.button :hover{
    background-color: rgb(159, 159, 168);
}
.image {
    border-radius: 30px;
    margin-left: 35px;
    height: 300px;
    width: 800px;
}
article {
    margin: 50px;
    margin-top: 70px;
    display: flex;
    margin-bottom: 50px;
    text-align: justify;
    padding-top: 90px;
 }
 
 article .card {
    text-align: justify;
    padding-left: 80px;
    margin-right: 35px;
 }
 .card h1 {
     font-size: 25px;
 }
 .card h2 {
     font-weight: bold;
     font-size: 40px;
 }
 .primary-btn {
    background: #020202;
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
 }
 .primary-btn :hover {
     background: #fff;
     color: black;
 }
 section .locat {
     padding-top: 80px;
 }
 section h3 {
     text-align: center;
     font-size: 40px;
 }
 section .work {
     text-align: center;
     font-size: 25px;
 }
.lok {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 50px;
}
.lok .box {
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.box{
    background-size: cover;
    height: 200px;
	width: 509px;
    padding: 290px;
    border-radius: 20px;
}
body {
    background: #fff;
}
.box a{
    background: #696969;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
}
.box-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.wa1 {
    display: flex;
    gap: 10px;
    justify-content: left;
    padding-top: 20px;
}
.box .wa {
    background: #3CB371;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
    font-weight: bold;
}
.box .lk {
    background: #020202;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
    font-weight: bold;
}
.box .lk:hover {
    margin-top: 20px;
}
.box .wa:hover {
    background: #008B8B;
}
.con-img {
    height: 150px;
    width: 180px;
    border-radius: 10px;
}
.contak h2 {
    font-size: 40px;
    padding-bottom: 20px;
}
section .contak{
    margin-left: 100px;
}
section .back {
    background-color: #020202;
    color: #fff;
    padding-top: 50px;
    display: flex;
}
.contak .mitra {
    padding-top: 30px;
}
.contak .kantor {
    padding-top: 30px;
}
html {
    scroll-behavior: smooth;
}
.asid {
    background-size: cover;
    margin: 50px;
    padding-left: 300px;
    margin-right: 70px;
}
.asid .box-prof {
    background: #fff;
    text-align: left;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
}
.box-prof {
    background-size: cover;
    height: 350px;
	width: 350px;
    padding: 290px;
    border-radius: 20px;
}
.prof-img {
    height: 200px;
	width: 180px;
    margin-left: 80px;
    border-radius: 10px;
}
.box-prof h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.nama {
    padding-top: 20px;
}
footer {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

footer ul {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6;
}

footer ul a {
  color: inherit;
  opacity: 0.8;
}

footer ul a:hover {
  opacity: 1;
}

footer li {
  padding: 0 10px;
}

footer .copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 0;
  color: #aaa;
}

@media (max-width: 768px){
    .mobile {
        display: block;
    }
    header ul {
        display: none;
    }
}